<!doctype html>
<html>
<head>
<title>{{displayName}} - {{displayTitle}} - CV</title>
<meta name="description" content="{{displayName}} is a programmer for hire, based in Louisville, Kentucky.">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="style.css" media="only screen">
<link rel="stylesheet" href="print.css" media="only print">
</head>{{!

TODO:
* skills section article badges
* skills features custom icons
* ux article

!}}<body>
    <div class="container">
        <header class="header">
            <h1 class="header-title" data-contact-info="{{contactInfo}}">{{displayName}}</h1>
            <p class="header-tagline">{{displayTitle}}</p>
        </header>
        <main class="main">

            <section class="section">
                <div class="intro">
                    <div class="summary">
                        <div class="badge">
                            <img src="{{badgeUrl}}" alt height="200" width="200" />
                        </div>
                        <div class="summary-text">
                            <h2 class="section-headline">Summary</h2>
                            <p>I'm a programmer for hire, currently based in Louisville, Kentucky.</p>
                            <p>My passion is making useful digital things.</p>
                            <p class="links">
                                {{#links}}
                                    <a href="{{{url}}}">{{{title}}}</a>
                                    {{^last}}
                                        {{! bullet !}}
                                        <i aria-hidden="true"></i>
                                    {{/last}}
                                {{/links}}
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            {{#sections}}
                <section class="section{{#class}} section-{{.}}{{/class}}">
                    <h2 class="section-headline">{{headline}}</h2>

                    {{#articles}}
                        {{^hidden}}
                            <article class="article{{#class}} article-{{.}}{{/class}}">
                                <h3 class="article-headline">{{{headline}}}</h3>
                                <div class="article-body">
                                    {{#kicker}}
                                        <div class="article-kicker">{{{.}}}</div>
                                    {{/kicker}}

                                    {{#paragraphs}}
                                        <p>{{{.}}}</p>
                                    {{/paragraphs}}
                                    
                                    {{#technologies.length}}
                                      <ul class="article-technologies">
                                        {{#technologies}}
                                          <li>{{.}}</li>
                                        {{/technologies}}
                                      </ul>
                                    {{/technologies.length}}

                                    {{#features.length}}
                                        <dl class="features row">
                                            {{#features}}
                                                <div class="feature half">
                                                    <dt class="feature-title">{{{title}}}</dt>
                                                    <dd class="feature-description">{{{description}}}</dd>
                                                </div>
                                            {{/features}}
                                        </dl>
                                    {{/features.length}}

                                    {{#projects.length}}
                                        <div class="article-kicker">Past Experience</div>
                                        <ul class="projects">
                                            {{#projects}}
                                                <li class="project">
                                                    <div class="row">
                                                        <div class="project-brand {{shortname}}-brand">
                                                            <div><img src="{{shortname}}.png" height="75" width="75" alt /></div>
                                                            <div>{{brand}}</div>
                                                        </div>
                                                        <div class="project-description">
                                                            {{{description}}}
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/projects}}
                                        </ul>
                                    {{/projects.length}}

                                </div>
                            </article>
                        {{/hidden}}
                    {{/articles}}

                </section>
            {{/sections}}

            <section class="section">
                <div class="outro">
                    <div class="summary">
                        <div class="badge">
                            <img src="{{badgeUrl}}" alt height="130" width="130" />
                        </div>
                        <div class="summary-text">
                            <p><strong>{{displayName}}</strong></p>
                            <p>{{displayLocation}}</p>
                            <p class="links">
                                {{#links}}
                                    <a href="{{{url}}}">{{{title}}}</a>
                                    {{^last}}
                                        {{! bullet !}}
                                        <i aria-hidden="true"></i>
                                    {{/last}}
                                {{/links}}
                            </p>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    </div>
</body>
</html>
