:root {
    --content-checkmark: '\2713';
    --content-bullet: '\2219';
    --content-nbsp: '\00a0';
}

@page {
    margin: .75in 1in;
}

html {
  font-size: 10.5pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
    margin: 0;
}

i:before {
    content: var(--content-bullet);
}
img {
    display: none;
}
strong {
    font-weight: normal;
}

.section {
  display: grid;
  grid-template-columns: 1.75in 1fr;
}

.section-headline {
  grid-column: 1;
}

article {
  grid-column: 2;
}

.article-kicker strong {
  font-weight: normal;
}

.feature-title {
  font-weight: bold;
  margin-top: .5rem;
}

.article {
  margin-bottom: 1rem;
}

.section-skills .article {
  margin-bottom: 0;
}

.section-skills {
  margin-bottom: 1rem;
}

.header {
  margin-top: 0;
  margin-bottom: 2.25rem;
}

.header-title {
  font-size: 42pt;
}

.summary {
  display: none;
}

.header-title,
.header-tagline {
  margin-top: 0;
  text-align: left;
}

.section-headline {
  font-size: 1.667rem;
}

.article-headline {
  font-size: 1.25rem;
}

.article-technologies {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}
.article-technologies:before {
  content: 'Technologies: ';
}
.article-technologies li {
  display: inline-block;
}
.article-technologies li:after {
  content: ', ';
}
.article-technologies li:last-of-type:after {
  content: '';
}

.header-tagline,
.links,
.article-kicker:not(:first-child),
.projects,
.section-grid,
.section-education article:last-child,
.outro {
    display: none !important;
}

.header-title:after {
    font-size: 1rem;
    padding-top: 0em;
    font-weight: normal;
    content: attr(data-contact-info);
    display: block;
}

/* .section-skills {
    page-break-before: always
} */
