body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 9pt;
    line-height: 1.5;
    background: red;
}
i:before {
    content: '\2219';
}
img {
    display: none;
}
strong {
    font-weight: normal;
}
.article-kicker strong {
    font-weight: bold;
}

.header-title,
.header-tagline {
    text-align: center;
}

.header-title {
    margin-top: 0;
    font-size: 18pt;
    margin-bottom: 0;
}

.section-headline {
    font-size: 13pt;
}

.article-headline {
    font-size: 10.25pt;
}

.intro,
.header-tagline,
.links,
.article-kicker:not(:first-child),
.projects,
.section-grid,
.section-education article:last-child,
.outro {
    display: none !important;
}

.header-title:after {
    font-size: 9pt;
    font-weight: normal;
    content: attr(data-contact-info);
    display: block;
    margin: .25em 0 1em;
}

.section-skills {
    page-break-before: always
}
