/* Variables */

:root {
    --swatch-white: #f5f5f5;
    --swatch-black: #222222;

    --base-font-size: 14px;
    --base-line-height: 1.275;
    --base-border-radius: 12px;

    --scale-factor-small: 1.25;
    --scale-factor-large: 1.175;

    --content-checkmark: '\2713';
    --content-bullet: '\2219';
}

@custom-media --small (max-width: 799px);
@custom-media --large (min-width: 800px);

/* Elements */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: calc(var(--base-font-size) * var(--scale-factor-small));
    line-height: calc(var(--base-line-height) * var(--scale-factor-small));
}
@media (--large) {
    html {
        font-size: calc(var(--base-font-size) * var(--scale-factor-large));
        line-height: calc(var(--base-line-height) * var(--scale-factor-large));
    }
}
body {
    background-color: var(--swatch-white);
    color: var(--swatch-black);
    font-family: 'Helvetica Neue', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
    font-size: 1em;
    font-weight: normal;
}
ul {
    list-style: none;
}
i:before {
    content: var(--content-bullet);
}

a {
    color: inherit;
}

.links a:not(:visited) {
    color: blue;
}

/* Layout */

.container {
    margin: 0 auto 60px;
    max-width: 790px;
    padding: 0 15px;
}

/* Flex Grid */

@media (--large) {
    .row {
        display: flex;
        flex-direction: row;
    }

    .row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .half {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        flex-shrink: 0;
    }
}

/* Header */

.header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
@media (--large) {
    .header {
        margin-top: 45px;
        margin-bottom: 60px;
    }
}
.header-title {
    font-size: 3.5em;
    line-height: 1.2;
    margin-bottom: 5px;
}
.header-tagline {
    font-size: 1.1em;
    color: #797979;
    font-weight: bold;
    margin: 5px 0 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 4px;
    display: inline-block;
}

/* Section */

.section {
    margin-bottom: 60px;
}
.section-headline {
    font-size: 1.6667em;
    padding-bottom: 4px;
    border-bottom: 1px solid lightgray;
}
.section > .section-headline {
    flex-basis: 100%;
}
@media (--large) {
    .section-grid {
        display: flex;
        flex-wrap: wrap;
    }
    .section-grid .article {
        flex-basis: calc(50% - 10px);
        flex-grow: 0;
    }
    .section-grid .article:nth-child(2n) {
        margin-right: 10px;
    }
    .section-grid .article:nth-child(2n+1) {
        margin-left: 10px;
    }
}


/* Article */

.article {
    margin: 15px 0 25px 0;
    border-bottom-left-radius: var(--base-border-radius);
    border-bottom-right-radius: var(--base-border-radius);
    background-color: #e6e5e5;
}
.article-headline {
    padding: 10px 25px;
    border-top-left-radius: var(--base-border-radius);
    border-top-right-radius: var(--base-border-radius);
    font-size: 1.25em;
    background-color: #3a3838;
    color: var(--swatch-white);
}
@media (--large) {
    .article-headline {
        text-align: left;
        border-top-left-radius: var(--base-border-radius);
        border-top-right-radius: var(--base-border-radius);
    }
}
.article-body {
    padding: 20px 25px 20px;
}
@media (--large) {
    .article-body {
        border-bottom-left-radius: var(--base-border-radius);
        border-bottom-right-radius: var(--base-border-radius);
    }
}
.article-body p {
    margin-top: 15px;
}
.article-technologies {
  display: none;
}
.article-kicker {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section-skills .article-kicker {
    color: white;
    font-size: .9em;
    padding: 5px 25px;
    margin-left: -25px;
    width: calc(100% + 50px);
    text-align: center;
}
@media (--large) {
    .section-skills .article-kicker {
        text-align: left;
    }
}

.article-cool .article-headline,
.section-skills .article-cool .article-kicker {
    background-color: midnightblue;
}
.article-cool {
    background-color: #c8e8ec;
}
.article-lavish .article-headline {
    background-color: indigo;
}
.article-lavish {
    background-color: #f5d5f5;
}
.article-serene .article-headline,
.section-skills .article-serene .article-kicker {
    background-color: darkgreen;
}
.article-serene {
    background-color: #bbf5bb;
}
.article-gold .article-headline {
    background-color: #757502;
}
.article-gold {
    background-color: #fbf0b8;
}
.article-burnt .article-headline {
    background-color: darkred;
}
.article-burnt {
    background-color: #fbd9cc;
}


/* Summary */

@media (--large) {
    .outro {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}
.summary {
    display: flex;
    flex-direction: column;
}
@media (--large) {
    .intro .summary {
        flex-direction: row-reverse;
    }
    .outro .summary {
        flex-direction: row;
    }
    .summary-text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 67%;
        align-self: center;
    }
    .intro .summary-text {
        padding-left: 0;
        padding-right: 10px;
    }
}
.outro .summary-text {
    padding-left: 15px;
    padding-right: 15px;
}
@media (--small) {
    .outro .summary-text {
        text-align: center;
    }
}
.summary-text p {
    margin-top: 15px;
}
@media (--large) {
    .outro .summary-text p:first-of-type {
        margin-top: 0;
    }
}

/* Badge */

.badge {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro .badge {
    text-align: center;
}

@media (--small) {
    .badge {
        margin-bottom: 10px;
        text-align: center;
    }
    .intro .badge {
        margin-bottom: 20px;
    }
}

.badge img {
    border-radius: 100em;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: gray;
}

/* Features */

.features {
    flex-wrap: wrap;
    margin: 15px 0 45px 0;
}
.feature-title {
    font-size: 1.15em;
    margin-top: 35px;
    font-weight: bold;
    padding-left: 20px;
    position: relative;
}
.feature-title:before {
    content: var(--content-checkmark);
    position: absolute;
    top: 0;
    left: 0;
}
:first-child > .feature-title {
    margin-top: 0;
}
@media (--large) {
    :nth-child(2) > .feature-title {
        margin-top: 0;
    }
}
.feature-description {
    font-size: .95em;
    padding-top: 5px;
    padding-left: 20px;
}
@media (--large) {
    .feature-description {
        padding-left: 20px;
        padding-right: 25px;
    }
}

/* Projects */

.projects {
    font-size: .95em;
    margin-top: 30px;
    margin-bottom: 15px;
}
@media (--large) {
    .projects {
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}
.projects li {
    margin-bottom: 40px;
}
.projects li:first-child {
    margin-top: 0;
}
.projects li:last-child {
    margin-bottom: 0;
}
.project-brand {
    align-self: center;
    text-align: center;
    flex-basis: 80px;
    flex-shrink: 0;
    font-weight: bold;
}
@media (--large) {
    .project-brand {
        font-weight: normal;
        font-size: .9em;
        letter-spacing: 1px;
    }
}
.project-brand img {
    padding: 15px;
    border-radius: 100em;
    background: white;
    margin-bottom: 10px;
}
@media (--large) {
    .project-brand img {
        margin-bottom: 5px;
    }
}
.apple-brand img {
    padding: 18px;
}
.project-description {
    align-self: center;
}
@media (--small) {
    .project-description {
        padding-top: 15px;
    }
}
@media (--large) {
    .row .project-description {
        padding-left: 18px;
    }
    .row-reverse .project-description {
        padding-right: 15px;
    }
}
